/* 头部 */
header{
    width: 7.50rem;
    height: 1.27rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background: #333;
    overflow: hidden;
}
header img{
    width: 4.5rem;
    height: 0.4rem;
    margin: auto;
    margin-top: 0.59rem;
    display: block;
}
/* 商城 */
.search{
    width: 7.50rem;
    height: 1.27rem;
    background: #333;
    position: relative;
}
.search .mall{
    position: absolute;
    display: flex;
    margin-left: 0.05rem;
}
.search .mall div{
    width: 1.2rem;
    height:0.8rem;
    text-align: center;
    line-height:0.7rem;
    background: rgb(208, 18, 27);
    margin-left: 0.16rem;
    color: white;
    margin-top: 0.2rem;
}
.search .mall div a{
    color: white;
    text-decoration: none;
}
.search .login{
    position: absolute;
    margin-left: 3.1rem;
    text-align: center;
    line-height:0.65rem;
    margin-top: 0.3rem;
    color: white; 
    font-size: 0.3rem;
}
.search .login span{
    margin-left: 0.2rem;
}

/* 导航栏 */
nav{
    margin: auto;
    width: 100%;
    height: 0.9rem;
    background: #666;
    position: relative;
}
.nav-box .list{
    position: absolute;
    width: 1rem;
    height: 0.5rem;
    margin-left: 40%;
    margin-top: 0.2rem;
    text-align: center;
    line-height:0.5rem;
    font-size: 0.3rem;
    color: rgb(221, 220, 220);
}
.nav-box .btn{
    position: absolute;
    width: 1rem;
    height: 0.5rem;
    margin-left:90%;
    margin-top: 0.2rem;
    text-align: center;
    line-height:0.5rem;
    font-size: 0.3rem;
    transform: rotate(90deg);
    color: rgb(221, 220, 220);
}

/* 轮播图大小 */
.swiper-container {
    width: 100%;
    height: 2.76rem;
    /* margin-top: 0.2rem; */
}  
.swiper-slide img{
    width: 100%;
    height: 100%;
}

/* 新品体验 */
.background-box{
    background: #f6f6f6;
    width: 100%;border: 1px solid #f6f6f6;
}
.news-goods-title{
    width: 100%;height: 0.91rem;
    text-align: center;
    margin-top: 0.6rem;
}
.news-goods-title p{
    position: relative;
    width: 2.80rem;
    height: 0.5rem;
    margin: 0 auto;
    line-height: 0.5rem;
    font-size: 0.55rem;
    font-weight: bolder;
    color: black;
    text-align: center;
    margin-bottom: 0.2rem;
}
.news-goods-title p:first-child:before{
    position: absolute;
    content: "";
    width: 1rem;
    top: 50%;
    height: 0.01rem;
    background: grey;
    left: -1rem;
}
.news-goods-title p:first-child:after{
    position: absolute;
    content: "";
    width: 1rem;
    top: 50%;
    height: 0.01rem;
    background: grey;
    right: -1rem;
}
/* 6个图片 */
.news-goods{
    width: 100%;
    height: 3.7rem;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.news-goods-list-box{
    width: 100%;
    height: 3.5rem;
    position: absolute;left: 0;top: 0;
}
.news-goods-list{
    width: 3.5rem;height:3.5rem;
    margin-left: 0.15rem;
    margin-right: 0.05rem;
    float: left;
    box-shadow: 0 0 10px #ddd;
    overflow: hidden;
}
.news-goods-list:last-child{
    margin-right: 0;
}
.news-goods-list img{
    width: 100%;
    height: 85%;
}
.news-goods-list .cn{
    width: 100%;
    height: 15%;
    text-align: center;
    background: #fff;
}


/* 精彩时刻 */
.hot-goods{
    width: 6.6rem;height: 21rem;
    margin: auto;
    background: #fff;
    margin-top: 0.5rem;
    border: 1px solid #fff;
    position: relative;
}
.hot-goods-box{
    width: 6.6rem;height: 7rem;
    margin: auto;
    overflow: hidden;
    margin-bottom: 0.2rem;
}
.hot-goods-box img{
    width: 100%;height: 100%;
}

/* 关于我们 */
.about{
    position: relative;
    width: 100%;
    height: 10.9rem;
    background: url(../images/about.jpg);
    overflow: hidden;
}
.about .aboutTit{
    font-size: 0.55rem;
    font-weight: bolder;
    margin-bottom: 0.3rem;
    height: 0.6rem;
    position: relative;
    text-transform: uppercase;
}
.about .aboutTit:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0.8rem;
    height: 0.01rem;
    background: grey;
}
.aboutContent{
    width: 10rem;
    position: absolute;
    top: 1rem;
    left: 0.45rem;
}
.aboutContent p{
    line-height: 40px;
    font-size: 14px;
}
.aboutContent .knowMore{
    width: 160px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background: rgb(43, 42, 42);
    margin-top: 30px;
}

/* 公司展示 */
.look{
    width: 100%;
    height: 4.9rem;
    margin-bottom: 0.4rem;
    overflow: hidden;
}
.look:last-child{
    margin-bottom: 0;
}
.look img{
    width: 100%;
    height: 100%;
}

/* 尾部开始 */
footer{
    position: relative;
    width: 7.50rem;
    height: 1.27rem;
    margin: auto;
    background: #333;
}
footer img{
    position: absolute;
    width: 4.5rem;
    height: 0.4rem;
    margin: auto;
    margin-left: 1.5rem;
    margin-top: 0.4rem;
    display: block;
}
/* footer .address{

    width: 100%;
    height:2rem;
    text-align: center;
    background: #333;
}
footer .address p{
 
    margin-top: 0.4rem;
    line-height: 0.2rem;
    text-align: left;
    width: 100%;
    color: #fff;
    text-indent: 62px;
} */
.copyright{
    width:100%;
    margin: 0 auto;
    height: 2rem;
    background: #333;
}
 .copyright p{
    width: 100%;
    text-align: center;
    line-height: 40px;
    color: white;
}
 .copyright p:first-child{
     margin-top: 0;
 }

